@page
@model CompanyModel
@{
    ViewData["Title"] = "Home Page";
}
<title>Data Pirates</title>

<div>

    <style>

        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

            #myTable th, #myTable td {
                text-align: left;
                padding: 12px;
            }

            #myTable tr {
                border-bottom: 1px solid #ddd;
            }

                #myTable tr.header, #myTable tr:hover {
                    background-color: #f1f1f1;
                }
    </style>
    <h2>Company Database</h2>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Interests.." title="Type in a name">

    <table id="myTable">
        <tr class="header">
            <th style="width:20%;">Name</th>
            <th style="width:10%;">Job Type</th>
            <th style="width:10%;">Job Title</th>
            <th style="width:10%;">Location</th>
            <th style="width:10%;">Interest</th>
            <th style="width:20%;">Description</th>
            <th style="width:20%;">Apply</th>

        </tr>
        <tr>

            <td>Google</td>
            <td>Full-time</td>
            <td>Back End Developer</td>
            <td>San Jose, California</td>
            <td>Software</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>
                <button onclick="myFunction2()">Apply now</button>
            </td>
        </tr>
        <tr>

            <td>Amazon</td>
            <td>Co-op</td>
            <td>Data Coordiator</td>
            <td>New York</td>
            <td>Analyst</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>
                <button onclick="myFunction2()">Apply now</button>
            </td>
        </tr>
        <tr>

            <td>Facebook</td>
            <td>Full-time</td>
            <td>Chief Engineer</td>
            <td>San Francisco, California</td>
            <td>Engineering</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>
                <button onclick="myFunction2()">Apply now</button>
            </td>
        </tr>
        <tr>

            <td>Twitter</td>
            <td>Internship</td>
            <td>Business Analyst</td>
            <td>Boston</td>
            <td>Data-Mining</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>
                <button onclick="myFunction2()">Apply now</button>
            </td>
        </tr>
        <tr>

            <td>Snapchat</td>
            <td>Co-op</td>
            <td>Product Manager</td>
            <td>Ohio</td>
            <td>Management</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>
                <button onclick="myFunction2()">Apply now</button>
            </td>
        </tr>
        <tr>

            <td>Lyft</td>
            <td>Full-time</td>
            <td>Full Stack Developer</td>
            <td>New Jersey</td>
            <td>Software</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>
                <button onclick="myFunction2()">Apply now</button>
            </td>
        </tr>
        <tr>
            <td>Uber</td>
            <td>Internship</td>
            <td>Web Developer Intern</td>
            <td>Seattle</td>
            <td>Front-end</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>
                <button onclick="myFunction2()">Apply now</button>
            </td>
        </tr>
        <tr>
            <td>KPMG</td>
            <td>Full-time</td>
            <td>Data Scientist</td>
            <td>Washington</td>
            <td>Analyst</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>
                <button onclick="myFunction2()">Apply now</button>
            </td>
        </tr>
        <tr>
            <td>Chase</td>
            <td>Internship</td>
            <td>IT Summer Intern</td>
            <td>Chicago</td>
            <td>IT</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>
                <button onclick="myFunction2()">Apply now</button>
            </td>
        </tr>
        <tr>
            <td>TCS</td>
            <td>Co-op</td>
            <td>Software Engineer</td>
            <td>Florida</td>
            <td>IT</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>
                <button onclick="myFunction2()">Apply now</button>
            </td>
        </tr>
    </table>
    <script>function myFunction() {

            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[4];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }</script>

    <script>function myFunction2() {
            alert("Thanks for applying. If it is a match, a recruiter will contact you shortly.");
        }</script>
</div>